$total_width: 980px;

$home_banner_height: 158px;

// ### Font Sizes
$logo_font_size: 28px;
$navbar_font_size: 18px;
$body_font_size: 12px;
$header_font_size: 18px;

// ### Colors
$white: #ffffff;
$black: #000000;
$gradient_top: #ffffd9;
$gradient_bottom: #e9e6c9;

// #### Blues
$dark_blue: #2f6ea6;
$gray_blue: #81a2bf;
$medium_blue: #91cbff;
$medium_light_blue: #add8ff;
$light_blue: #c3e2ff;

// #### Violets
$dark_violet: #3632a6;
$gray_violet: #8886bf;
$medium_violet: #9e9aff;
$medium_light_violet: #b6b3ff;
$light_violet: #c9c7ff;

// #### Yellows
$dark_yellow: #a6892c;
$gray_yellow: #bfaf7d;
$medium_yellow: #ffe389;
$medium_light_yellow: #ffeaa6;
$light_yellow: #ffefbe;

// #### Oranges
$dark_orange: #a6732c;
$gray_orange: #bfa47d;
$medium_orange: #ffce89;
$medium_light_orange: #ffdaa6;
$light_orange: #ffe4be;
