// ## Home Page Layout

// ### Main Page container.
// The majority of this is to get it to center and float up to the top.
#page {
    width: $total_width;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top:0;
    left:50%;
    margin-left: -1 * ($total-width / 2);
}

.site-header {
    width: $total_width;
    height: $home_banner_height;
    @include background(image-url('subpageheader.png') no-repeat);
    top:0;
    left: 0;
    position:absolute;
    color: $white;
    a {
        @include link-colors($white, $medium_orange, $medium_orange, $white);
        text-decoration: none;
        @include text-shadow(#424242 2px 2px);
        @include navbar_font;
    }
    h1.site-title {
        display: none;
    }
    nav {
        position: absolute;
        top: 6px;
        right: 20px;
        ul {
            @include horizontal-list(10px);
        }
    }

}

#primary {
  width: $primary_width;
  position: absolute;
  top: -115px;
  left: $secondary_width + 25;
  article {
    margin-bottom: 20px;
    color: $charcoal;

    header {
      @include background(image-url('halftone-pattern.png') no-repeat);
      h1 {
        @include background(image-url('header-arrow.png') no-repeat);
        border-top: 1px solid $charcoal;
        border-bottom: 1px solid $charcoal;
        padding: 5px 5px 5px 30px;
        color: $charcoal;
        @include header_font;
        font-size: $article_header_font_size;
      }
    }
    ul {
      padding: 0px 5px;
      margin: 0px;
      li {
        list-style-type: none;
        background: image-url('bullet.png') no-repeat left center;
        padding-left: 14px;
        margin-bottom: 6px;
      }
    }
    h2 {
      margin-bottom: 5px;
      color: $charcoal;
      @include header_font;
      font-size: $header_font_size;
    }
  }
}

#secondary {
  width: $secondary_width;
  position: absolute;
  top: 5px;
  right: $primary_width + 25;
  aside {
    margin-bottom: 20px;
    color: $charcoal;
    h1 {
      @include background(image-url('halftone-pattern.png') no-repeat);
      border-top: 1px solid $charcoal;
      padding: 5px;
      color: $charcoal;
      @include header_font;
    }
    h2 {
      margin-bottom: 5px;
      color: $charcoal;
      @include header_font;
      font-size: $header2_font_size;
    }
    .textwidget {
      padding: 0px 5px;
    }
    ul {
      list-style-type: none;
      padding: 0px 5px;
      margin: 0px;
      li {

      }
    }

  }
}

.home {
  .site-header {
    width: $total_width;
    height: $home_banner_height;
    @include background(image-url('header.png') no-repeat);
    h1.site-title {
      position: absolute;
      display:inline;
      bottom: 1px;
      left: 0;
      margin: 0 12px;
      a {
        @include logo_font;
      }
    }
    nav {
      width: $total_width / 2;
      margin-left: $total_width / 2;
      position: absolute;
      top: 128px;
      left: 0;
      padding-left: 20px;
      ul {
        @include horizontal-list(10px);
      }
    }
  }
  #primary {
    left: 5px;
    top: 5px;
  }
  #secondary {
    right: 5px;
    top: 5px;
  }
}

#main {
    margin-top: $home_banner_height;
    width: $total_width;
  position: relative;
}



html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
}
.site-footer, .push {
  height: 20px;
  clear: both;
}

.home {
  .entry-title {
    display: none;
  }
    .twelvefoottitle {
      @include background(image-url('halftone-pattern.png') no-repeat);
      h1 {
        @include background(image-url('header-arrow.png') no-repeat);
        border-top: 1px solid $charcoal;
        border-bottom: 1px solid $charcoal;
        border-right: 1px solid $charcoal;
        padding: 5px 5px 5px 30px;
        color: $charcoal;
        @include header_font;
        font-size: $article_header_font_size;
      }
    }
  .recentProjects {
    ul {
      padding: 0;
      li {
        display: inline-block;
        list-style-type: none;
      }
      img {
        margin: 5px;
      }
    }
  }
}